@model QuanLiPhongTro.Models.BaoCaoTaiChinh

@{
    ViewData["Title"] = "Báo Cáo Tài Chính";
}

<h1>@ViewData["Title"]</h1>

<h3>Tổng Doanh Thu: @Model.TongDoanhThu</h3>
<h3>Lợi Nhuận: @Model.LoiNhuan</h3>
<h3>Khách Nợ Tiền: @Model.KhachNoTien</h3>
<h3>Tiền Cọc: @Model.TienCoc</h3>
