@model IEnumerable<QuanLiPhongTro.Models.SuDungDichVu>

@{
    ViewData["Title"] = "Danh sách sử dụng dịch vụ";
}

<h1>Danh sách sử dụng dịch vụ</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Thêm mới</a>
</p>
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>
                Phòng
            </th>
            <th>
                Dịch vụ
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ThangNam)
            </th>
            <th>
                Chỉ số cũ
            </th>
            <th>
                Chỉ số mới
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Phong.TenPhong)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DichVu.TenDichVu)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ThangNam)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ChiSoCu)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ChiSoMoi)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-warning">Sửa</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger">Xóa</a>
                </td>
            </tr>
        }
    </tbody>
</table>